@import url('./vars.css');

/* Generic grid classes */
.g-wrap,
.grid-wrap, .grid,
.g-col-1, .g-col-2,
.g-col-3, .g-col-4 {
    display: grid;
    gap: var(--gap-l);
    width: 100%;
    overflow-wrap: break-word;
}

/* Grid column controller classes */
.g-col-1 { grid-template-columns: var(--gridcol-1); }
.g-col-2 { grid-template-columns: var(--gridcol-1-1); }
.g-col-3 { grid-template-columns: var(--gridcol-1-1-1); }
.g-col-4 { grid-template-columns: var(--gridcol-1-1-1-1); }

/* Basic media queries */
@media screen and (max-width: 768px) {
    .g-col-2, .g-col-3 { grid-template-columns: var(--gridcol-1); }

    .g-col-4 { grid-template-columns: var(--gridcol-1-1); }
}